@import "~prefixer.less";
@import "~flexbox.less";

.knsh-dashboard-layout {
	.box-sizing(border-box);
	
	margin: 0;
	padding: 0;
}

.knsh-dashboard-layout-group {
	.flexbox();
	
	.box-sizing(border-box);
	
	width: 100%;
	
	&__items {
		.flexbox();
		
		 .box-sizing(border-box);
		
		width: 100%;
	}
	
	&__item {
		.flexbox();
		.align-items(stretch);
		
		.box-sizing(border-box);
	}
	
	&__m-row {
		> .knsh-dashboard-layout-group__items {
			.flex-direction(row);
			.align-items(stretch);
			
			@media (max-width: 768px) {
				.flex-wrap(wrap);
			}
			
			> .knsh-dashboard-layout-group__item {
				.flex-grow(1);
				.flex-shrink(0);
				.flex-basis(0px);
				
				@media (max-width: 768px) {
					.flex-basis(100%);
				}
			}
		}
	}
	&__m-col {
		> .knsh-dashboard-layout-group__items {
			.flex-direction(column);
		}
	}
}

.knsh-dashboard-layout-card {
	.box-sizing(border-box);
	
	margin: 0;
	padding: 0;
	border: 0 none;
	
	width: 100%;
}
